// rssReader.scss

@import "@default/mainVariables.scss";
@include DefaultStyle;

.GridActualites {
  display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes de largeur égale */
    row-gap: 5em;
  }
.TitreApercuActualites {
  padding-bottom: 0.5em;
  font-size: 5em;
}

.ApercuAcutalites {
  display: flex;
  margin-left: 3em;
  margin-right: 3em;
  background: linear-gradient(270deg, #fa6f0b -10.8%, #ce2bd3 110.51%);
  border-radius: 20px;
  margin-top: 1.5em;
  padding-top: 0.3em; /* Dépassement en haut */
  padding-bottom: 0.3em; /* Dépassement en bas */
  height: 14em;
}

.ApercuActualitesContent {
  display: flex;
    margin-left: 0.3em;
    margin-right: 0.3em;
    background: radial-gradient(circle, rgba(13,45,72,1) 0%, rgba(59,63,109,1) 100%);
    padding: 1.5%;
    border-radius: 15px;
    color: white;
    text-align: left;  
    flex-direction: column;
    justify-content: space-between;
}

.H22 {
  font-size: 1.5em;
}

.PP {
  font-size: 1em;
}

.ButtonApercuActualites {
  background: linear-gradient(270deg, #fa6f0b -10.8%, #ce2bd3 110.51%);
  color: white;
  padding: 0.2em 1.2em;
  text-transform: uppercase;
  margin-top: 1em;
  cursor: pointer;
  width: auto;
  border-radius: 0 0.7em 0 0.7em ; 
  border: 0 solid transparent;
  font-family: $text-style;
  font-size: 1.2em;
  transition: 0.3s ease;
}

.ButtonApercuActualites:hover{
  background: linear-gradient(270deg, #2f1f14 -10.8%, #959495 110.51%);
  border-radius: 0.7em 0 0.7em 0; 
}



